body {
    background: #3498db;

}
.form{
	width: 250px;
	padding-top: 30px;

}
form {
    background: #3498db;
    width: 300px;
    min-height: 400px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    left: 40%;
    top: 20%;
}
.form1 {
    width: 140px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-right: 45px;
}
.overlay {
    width: 100%;
    background: rgba(70, 37, 17, 0.4);
    position: absolute;
    min-height: 800px;
    z-index: -1;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    color: #fff;
    margin-top: 15%;
margin-left: 30px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.search{
	width: 250px;
float: right;
}
.btn-danger{
	margin-left: 25px;
}
.btn-success{
	margin-left: 25px;
}
h3 {
    color: #fff;
    display: inline;
    /* text-align: center !important; */
    padding-left: 50%;
}
 h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
form a{
	color: #ff0000;
}